#loading-box {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.spinner-box {
    opacity: 0; 
    width: 50px;
    height: 50px;
    border: 5px solid #ddd;
    border-top-color: #007bff;
    border-radius: 50%;
    transition: opacity 0.5s ease-in-out;
    animation: spin 1s linear infinite;
}
.spinner-box-active{
    opacity: 1;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}